@font-face{
    font-family:"typo";
    src: url("resources/Helvetica.ttf") format("truetype");

    font-family:"typo1";
    src: url("resources/bahnschrift.ttf") format("truetype");

    font-family:"typo2";
    src: url("resources/Marcellus-Regular.ttf") format("truetype");
}

body{
    margin: 50px 200px 0px 200px;
    font-family: "typo1", sans-serif;
    font-size: 1em;
}


/*----------------------------------------------- HEADER -----------------------------------------------------*/


.container{
    display: flex;
    justify-content: space-around;    
    align-items: center;
}

.divH{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: black;
}

.btn1{
    border: 0.15em solid orange;
    border-radius: 0.7em;
    background-color: white;
    width: 150px;
    height: 50px;
    color: orange;
}

.btn1:Hover{
    border: 0.15em solid white;
    border-radius: 0.7em;
    background-color: orange;
    color: white;
}


/*-------------------------------------------------- SECTION 1 --------------------------------------------------------*/
/*Track your expenses to save money*/


section{
    margin: 150px auto;
    text-align: center;
}

.moneyDiv{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 40%;
}

.justifyTitle{
    font-size: 4em;
    text-align: justify;
    font-weight: bolder;
}

h1{
    font-size: 4em;
    text-align: left;
    font-weight: bolder;
}

p{
    text-align: left;
}

.underH1{
    font-size: 1.2em;
    color: rgb(175, 175, 175);
    margin: -30px 0 30px 0;
}

.flex{
    display: flex;
}

.fontSize1{
    font-size: 1.2em;
}

.btn2{
    border: none;
    border-radius: 0.7em;
    background-color: orange;
    width: 150px;
    height: 50px;
    color: white;
}

.grey{
    color: rgb(175, 175, 175);
}


/*-------------------------------------------------- SECTION 2 --------------------------------------------------------*/
/*Juste des images*/


.fdOrange{
    background-color: orange;
    width: 100%;
}

.imgDiv{
    display: flex;
    justify-content: center;
}


/*-------------------------------------------------- SECTION 3 --------------------------------------------------------*/
/*Real-time support with cloud*/


.p1{
    font-size: 1.2em;
    color: rgb(175, 175, 175);
}

.sizeLimit{
    max-width: 40%;
}

.latinP{
    font-size: 1.2em;
    color: rgb(175, 175, 175);
    line-height: 1.5em;
}

.link1{
    border: none;
    background-color: white;
    color: orange;
}


/*-------------------------------------------------- SECTION 4 --------------------------------------------------------*/
/*Choose your flexible plan*/


.planTitle{
    text-align: center;
}

.plan{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.flexiblePlan{
    border-width: 1em;
    border-radius: 50px;
    background-color: white;
}

h3{
    text-align: left;
    font-size: 1.5em;
}

strong{
    font-size: 1.5em;
    color: black;
}

.p2{
    font-size: 0.7em;
    color: rgb(175, 175, 175);
}


/*-------------------------------------------------- SECTION 5 --------------------------------------------------------*/
/*20M+ downloaded from 32 diffrent countires*/


.container1{
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.superposition{
    position: absolute;
}

.up{
    z-index: 0;
}

.demo{
    font-size: 1.5em;
    text-align: center;
}

.down{
    z-index: -1;
    position: relative;
    margin-top: -100px;
}


/*-------------------------------------------------- SECTION 6 --------------------------------------------------------*/
/*Before footer*/


.container2{
    display: flex;
    justify-content: space-around;
}

.beforeFooter{
    border-bottom: 1em solid rgb(192, 192, 192);
}

span{
    border: 0.8em solid orange;
    border-radius: 50%;
    background-color: orange;
}

.p3{
    font-size: 1.5em;
}

.link_left{
    text-align: left;
}

.beforeInput{
    margin-bottom: 25px;
    color: rgb(192, 192, 192);
}

.place{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    height: 50px;
    width: 240px;
    border: 0.1em solid black;
    border-radius: 0.7em;
    position: absolute;
    padding-left: 10px;
}
.subBtn{
    border: 0.15em solid white;
    border-radius: 0.7em;
    background-color: orange;
    width: 90px;
    height: 45px;
    color: white;
    position: relative;
    margin-left: 160px;
}

::placeholder{
    color: black;
}

.afterInput{
    font-size: 0.7em;
    color: rgb(175, 175, 175);
    margin-top: 20px;
}


/*-------------------------------------------------- FOOTER --------------------------------------------------------*/


footer{
    margin-bottom: 100px;
    font-size: 0.7em;
    color: rgb(31, 31, 31);
}